/* 
 * Begin CSS Reset
 * https://www.digitalocean.com/community/tutorials/css-minimal-css-reset 
 */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* End CSS Reset */


@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

html {
  font-family: Roboto;
  background-color: #fbfbbd;
}

h1 {
  font-size: 45pt;
  padding-bottom: .2em;
  border-bottom: 3px dashed black;
}

ul {
  padding: 1em;
}

li {
  list-style: none;
  margin: .333em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 20pt;
}

.listItem button{
  padding-left: .75em;
  padding-right: .75em;
  padding-top: .5em;
  padding-bottom: .5em;
  border: red solid 1px;
  background-color: red;
  color: white;
}

.listItem button:hover{
  background-color: white;
  color: red;
}

#todo {
  margin: auto;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 0%;
  text-align: center;
}